@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Shrikhand&display=swap");
:root {
    --dark-blue: #00167c;
    --light-blue: #5bc3ff;
    --light-purple: #af84fd;
    --purple: #7125ff;
}

body {
    font-family: "Poppins", sans-serif !important;
    background: linear-gradient(-20deg, #b721ff 0%, #21d4fd 100%);
    min-height: 100vh;
}

/* code format */
.code-toolbar > .toolbar {
    right: 10px !important;
    opacity: 1 !important;
}
.code-toolbar > .toolbar > .toolbar-item > button:hover {
    background-color: var(--primary) !important;
    color: #000 !important;
}
code[class*="language-"],
pre[class*="language-"] {
    font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace !important;
}
/* navbar */

.navbar {
    background-image: linear-gradient(-20deg, #b721ff 0%, #21d4fd 100%);
    box-shadow: 0 2px 10px -3px #000;
}
.navbar .navbar-brand {
    color: var(--dark-blue);
    font-weight: 800;
    font-size: 20px;
}
.navbar .navbar-brand .s1 {
    color: var(--dark-blue);
    background-color: #fff;
    padding-left: 10px;
    border: 2px solid #fff;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
}
.navbar .navbar-brand .s2 {
    color: #fff;
    background-color: var(--purple);
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
}

/* home */
.home .title {
    font-size: 40px;
    font-weight: 600;
    color: #fff;
    text-align: right;
}
.home .desc {
    text-align: right;
    color: #e7e7e7;
}
.home .head-img {
    width: 100%;
}
/* learn */
.learn .learn-card {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    box-shadow: 2px 2px 10px -4px #21d4fd;
    border-top: 1px solid #b4f1ff;
    border-left: 1px solid #b4f1ff;
}
.learn .title {
    font-size: 20px;
    text-align: center;
    font-weight: 600;
    margin-bottom: 10px;
    position: relative;
    z-index: 10;
}
.learn .image-wrap {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    position: relative;
    z-index: 10;
}
.learn .image-wrap img {
    width: 100px;
}
.learn .description {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 10px;
    height: 100px;
}
.learn .learn-card .line-1 {
    position: absolute;
    top: 20px;
    left: -100px;
    z-index: 5;
    width: 250px;
    height: 5px;
    transform: rotateZ(-45deg);
    background: linear-gradient(100deg, var(--light-blue), var(--light-purple));
}
.learn .learn-card .line-2 {
    position: absolute;
    top: 10px;
    left: -65px;
    z-index: 5;
    width: 250px;
    height: 50px;
    transform: rotateZ(-45deg);
    background: linear-gradient(100deg, var(--light-blue), var(--light-purple));
}
/* content */
.content {
    background-image: linear-gradient(-20deg, #b721ff 0%, #21d4fd 100%);
}
.content .navbar {
    background-image: linear-gradient(-20deg, #b721ff 0%, #21d4fd 100%);
    box-shadow: 0 2px 10px -3px #000;
}
.content .main-cnt {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    box-shadow: 2px 2px 10px -4px #21d4fd;
    border-top: 1px solid #b4f1ff;
    border-left: 1px solid #b4f1ff;
}
.content .img-wrap img {
    height: 100px;
}
.content .title {
    font-size: 30px;
    font-weight: 600;
    color: #000;
}
.content .link-tag {
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
}
.content .link-tag:hover {
    color: #000;
}
.content .link-tag::before {
    content: "# ";
}
/* post */

.post .post-cnt {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    box-shadow: 2px 2px 10px -4px #21d4fd;
    border-top: 1px solid #b4f1ff;
    border-left: 1px solid #b4f1ff;
}
.post .img-wrap {
    height: 50px;
}
.post .img-wrap img {
    height: 100%;
}
.post .title {
    font-size: 30px;
    font-weight: 700;
    line-height: var(--bs-body-line-height);
    margin-bottom: 0;
    text-transform: capitalize;
    color: #ffffff;
}
.post .title-1 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 0;
    margin-top: 30px;
    color: var(--dark-blue);
    text-transform: capitalize;
}
.post .title-1:first-of-type {
    margin-top: 0 !important;
}
.post .title-1::before {
    content: "# ";
}
.post .desc {
    line-height: 19px;
    margin-bottom: 0;
}

.post .desc span {
    font-weight: 600;
    color: var(--primary);
    font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace !important;
}
