@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Shrikhand&display=swap");
:root {
    --dark-blue: #1e90ff;
    --light-blue: #70a1ff;
    --light-purple: #2f3542;
    --purple: #2f3542;
}

body {
    font-family: "Poppins", sans-serif !important;
    min-height: 100vh;
    background-image: radial-gradient(#ffffff 0.5px, #37475c 0.5px);
    background-size: 10px 10px;
}

/* code format */
.code-toolbar > .toolbar {
    right: 10px !important;
    opacity: 1 !important;
}
.code-toolbar > .toolbar > .toolbar-item > button:hover {
    background-color: var(--primary) !important;
    color: #000 !important;
}
code[class*="language-"],
pre[class*="language-"] {
    font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace !important;
}
/* navbar */

.navbar {
    background-image: linear-gradient(-20deg, #1e90ff 0%, #70a1ff 100%);
    box-shadow: 0 2px 10px -3px #000;
}
.navbar .navbar-brand {
    color: var(--dark-blue);
    font-weight: 800;
    font-size: 20px;
}
.navbar .navbar-brand .s1 {
    color: var(--dark-blue);
    background-color: #fff;
    padding-left: 10px;
    border: 2px solid #fff;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
}
.navbar .navbar-brand .s2 {
    color: #fff;
    background-color: var(--purple);
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
}

/* home */
.home {
    background: #19a3ff;
}
.home .title {
    font-size: 40px;
    font-weight: 600;
    color: #fff;
    text-align: right;
}
.home .desc {
    text-align: right;
    color: #e7e7e7;
}
.home .head-img {
    width: 100%;
}
/* learn */
.learn .learn-card {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    box-shadow: 2px 2px 10px -4px #21d4fd;
    border-top: 1px solid #b4f1ff;
    border-left: 1px solid #b4f1ff;
}
.learn .title {
    font-size: 20px;
    text-align: center;
    font-weight: 600;
    margin-bottom: 10px;
    position: relative;
    z-index: 10;
}
.learn .image-wrap {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    position: relative;
    z-index: 10;
}
.learn .image-wrap img {
    width: 100px;
}
.learn .description {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 10px;
    height: 100px;
}
.learn .learn-card .line-1 {
    position: absolute;
    top: 20px;
    left: -100px;
    z-index: 5;
    width: 250px;
    height: 5px;
    transform: rotateZ(-45deg);
    background: linear-gradient(100deg, var(--light-blue), var(--light-purple));
}
.learn .learn-card .line-2 {
    position: absolute;
    top: 10px;
    left: -65px;
    z-index: 5;
    width: 250px;
    height: 50px;
    transform: rotateZ(-45deg);
    background: linear-gradient(100deg, var(--light-blue), var(--light-purple));
}
/* content */
.content {
    background-image: radial-gradient(#e9e9e9 0.5px, #37475c 0.5px);
    background-size: 10px 10px;
    /* background: #e9e9e9; */
}
.content .side {
    background-color: #e6e6e6;
    padding: 20px;
    text-align: left;
    border-radius: 5px;
}
.content img {
    height: 100px;
}
.content .main-title {
    font-size: 20px;
    font-weight: 600;
    color: #000;
    line-height: 22px;
    margin-bottom: 20px;
}
.content .description {
    font-size: 12px;
    font-weight: 400;
    color: #2c2c2c;
    line-height: 18px;
}
.content .link-tag {
    text-decoration: none;
}
.content .link-tag:hover {
    color: #000;
}
.content .content-card {
    padding: 10px;
    border-radius: 5px;
    position: relative;
    display: flex;
    max-height: 90px;
    background-color: #ffffffb6;
    border-radius: 5px;
    box-shadow: 0 0 7px -3px #000000;
    transition: 0.25s all;
}
.content .content-card:hover {
    box-shadow: 0 0 14px -10px #000000;
    padding: 30px;
    max-height: 130px;
}
.content .content-card .sec {
    width: 20px;
    height: 100;
    border-radius: 5px;
    margin-right: 10px;
}
.content .content-card .sec.c1 {
    background-image: linear-gradient(-180deg, #19a3ff 0%, #194fff 100%);
}
.content .content-card .sec.c2 {
    background-image: linear-gradient(-180deg, #194fff 0%, #4319ff 100%);
}
.content .content-card .sec.c3 {
    background-image: linear-gradient(-180deg, #4319ff 0%, #ab19ff 100%);
}
.content .content-card .sec.c4 {
    background-image: linear-gradient(-180deg, #ab19ff 0%, #ff19e0 100%);
}
.content .content-card .sec.c5 {
    background-image: linear-gradient(-180deg, #ff19e0 0%, #ff1919 100%);
}
.content .content-card .sec.c6 {
    background-image: linear-gradient(-180deg, #ff1919 0%, #ff7519 100%);
}
.content .content-card .sec.c7 {
    background-image: linear-gradient(-180deg, #ff7519 0%, #ffb006 100%);
}
.content .content-card .sec.c8 {
    background-image: linear-gradient(-180deg, #ffb006 0%, #daff06 100%);
}
.content .content-card .sec.c9 {
    background-image: linear-gradient(-180deg, #daff06 0%, #55ff06 100%);
}
.content .content-card .sec.c10 {
    background-image: linear-gradient(-180deg, #55ff06 0%, #06ffd6 100%);
}
.content .content-card .title {
    color: #000;
    font-size: 16px;
}
.content .content-card .desc {
    color: #000;
    line-height: 16px;
    font-size: 14px;
    text-overflow: ellipsis;
    font-weight: 300;
    transition: 0.5s all;
}
/* post */
.post {
    background-image: radial-gradient(#ffffff 0.5px, #37475c 0.5px);
    background-size: 10px 10px;
}
.post .post-cnt {
    background-color: #d6d6d6;
    backdrop-filter: blur(2px);
    padding: 20px;
    border-radius: 5px;
}
.post .img-wrap {
    height: 50px;
}
.post .img-wrap img {
    height: 100%;
}
.post .title {
    font-size: 30px;
    font-weight: 700;
    line-height: var(--bs-body-line-height);
    margin-bottom: 0;
    text-transform: capitalize;
    color: #ffffff;
}
.post .title-1 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 0;
    margin-top: 30px;
    color: #1b1b1b;
    text-transform: capitalize;
}
.post .title-1:first-of-type {
    margin-top: 0 !important;
}
.post .title-1::before {
    content: "# ";
}
.post .desc {
    line-height: 19px;
    margin-bottom: 0;
}

.post .desc span {
    font-weight: 600;
    color: var(--primary);
    font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace !important;
}
